<div class = "tabbable" id = "main">
	<ul class = "nav nav-tabs">
		<% @categories.each_with_index do |category, i| %>
		<li <% if i == 0 then %>class = 'active' <% end %>>
			<a href = "#tab_<%= i %>" data-toggle="tab" ><%= category.name %></a>
		</li>
		<% end %>
	</ul>
	<div id = "tab_content" class = "tab-content">
		<% @articles_of_category.each_with_index do |articles, i|%>
		<div class = "tab-pane <% if i == 0 then %>active<% end %>" id = "tab_<%= i %>">
			<% articles.each do |article| %>
			<div class = "article">
				<a href = "<%= article.url %>" target = "_blank"><%= article.title %></a><br />				　　
				　　<%= article.tw_count %> RT　
				<%= article.fb_count %> share　
				<%= article.site.name %>　
				<%= article.published %>　
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>
