<!DOCTYPE html>
<html>
<head>
  <title>KrAntenaFootball</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap/css/bootstrap.min", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "navbar">
	<div class = "navbar-inner">
		<div class = "container-fluid">
			<ul class="nav">
				<li><a href = "index">記事一覧</a></li>
				<li><a href = "create_from_rss">記事取得</a></li>　
				<li><a href = "update_sns_count">SNSシェア数更新</a></li>
			</ul>
		</div>
	</div>
</div>

<div id = "content">
	<%= yield %>
</div>

</body>
</html>
